@page
@model Agendamento.Services.Api.Pages.IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<h1>Bem-vindo ao sistema de Agendamento</h1>

@* @if (User.Identity?.IsAuthenticated == true)
{ *@
    <p>Olá, @User.Identity.Name!</p>

    <form method="post" asp-page="/Logout">
        <button type="submit">Sair</button>
    </form>

    <p>
        <a class="btn btn-primary" href="/CadastroPaciente">Cadastrar Paciente</a>
    </p>
@* }
else
{
    <p>Você não está autenticado.</p>
    <a href="/Login">Entrar</a>
} *@
